@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
    text-shadow: 0 0 5px black;
    margin: 1em;
}

#quote-box {
    opacity: 0;
    position: absolute;
    padding: 2em 5em;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 40px rgba(255, 0, 255, 0.6);
    border-radius: 20px;

    transition: opacity 1s;
}
#quote-box.show {
    opacity: 1;
}
#quote-text {
    font-size: 3.5em;
    text-align: center;
}
#quote-source {
    font-size: 2em;
    font-style: italic;
    color: grey;
}

#inspire-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s, top 1s;
}
#inspire-box.bottom {
    transform: translate(-50%, -50%) scale(0.5);
    top: 85%;
}

#inspire-button {
    width: 800px;
    height: 200px;
    padding: 0.8em 2.5em;

    font-size: 4.5em;
    background-color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s;
}

#inspire-button:focus {
    outline: none;
}

#inspire-button:hover, #inspire-button:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}
#inspire-button:hover ~ .inspire-anim, #inspire-button:focus ~ .inspire-anim {
    animation-duration: 0.2s;
}

.inspire-anim {
    position: absolute;
    width: 800px;
    height: 200px;
    z-index: -1;
    border-radius: 20px;
}
.inspire-anim-div1 { 
    left: -40px;
    top: 40px;
    background-color: deepskyblue;
    animation: inspire-box-anim-1 0.5s ease-in-out infinite alternate;
}
.inspire-anim-div2 { 
    left: -60px;
    top: 20px;
    background-color: indianred;
    animation: inspire-box-anim-2 0.5s 0.15s ease-in-out infinite alternate;
}
.inspire-anim-div3 { 
    left: 40px;
    top: -20px;
    background-color: sandybrown;
    animation: inspire-box-anim-3 0.5s 0.35s ease-in-out infinite alternate;
}

@keyframes inspire-box-anim-1 {
    from { left: -40px; top: 40px; background-color: deepskyblue; }
    to { left: 40px; top: -40px; background-color: springgreen }
}
@keyframes inspire-box-anim-2 {
    from { left: -60px; top: 20px; background-color: indianred; }
    to { left: 20px; top: 40px; background-color: slateblue }
}
@keyframes inspire-box-anim-3 {
    from { left: -40px; top: -20px; background-color: sandybrown; }
    to { left: 40px; top: -10px; background-color: yellow }
}
